.navbar-menu.is-active {
    display:block !important;
    background-color:white;
    -webkit-box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
}
.navbar.is-fixed-top .navbar-menu {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto;
    height:100%;
    widows: 100%;
    z-index: 999;
    /* background-color: #1c1c1c; */
    transition: all .3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: initial;
}

/* landing page background */

.hero.is-bg {
    /* background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://unsplash.it/1200/900?random) no-repeat center center; */
    background-image: url("/img/drop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* disable on mobile device */
.is-fullscreen {
  margin-left: 150px;
  margin-top: 80px;
  display:inline-block;
}

/* the colored horizontal line fullscreen*/
.is-fullscreen hr {
	width:40px;
	height: 2px;
	/* display: inline-block; */
	/* float: right; */
	/* margin-top: 130px; */
	/* vertical-align: middle; */
	/* margin-right: 0.5em; */ */

}

/* the colored horizontal line*/
.hero-body hr {
	width:40px;
	height: 2px;
	/* display:inline-flex; */
	/* float: center; */
	/* margin-top: 130px; */
	/* vertical-align: middle; */
	/* margin-right: 0.5em; */

}

/* vertical menue */
navbar-item.vertical{
  position:relative;
  width:200px;
}

/* all ul */
navbar-item.vertical ul{
  list-style: none;
  font-size: 20px;
  line-height: 35px;
}
/* all li */
navbar-item.vertical li{
  position:relative;
}
/* all a */
navbar-item.vertical a{
  display:block;
  color:#1c1c1c;
  text-decoration:none;
  background:none;
  transition:0.2s;
  text-align: left;
}
/* all a hover */
navbar-item.vertical li:hover > a{
  background:none;
}

/* inner ul hide */
navbar-item.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}

/* inner ul show */
navbar-item.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
  left:100%;
}

/* line grows vertically */
  #cool
  {
  width:2px;
  background-color:#431;
  margin-bottom: 50%;
  animation:grow 6s forwards;
  position:absolute;
  }

  @keyframes grow
  {
    0%{
       height: 0px;
   }
  100% {
      height: 100px;
  }
  }

  .demopadding {
  margin:50px auto;
  margin-left: 500px;
  margin-top: 250px;
  width:140px;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px;
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px;
	color:#FFFFFF;
}


/* social media icons */
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:center;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

a:hover, .uk-link:hover {
    color: #0f6ecd;
    text-decoration:none !important;
} /* overides text decorations on links*/

.footer {
    background-color: white !important;
    padding: 3rem 1.5rem 6rem;
}

@media screen and (min-width: 0px)
.navbar-burger {
    /* display: none; */
}
